<p>
  <strong>Nome:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @restaurant.category %>
</p>
<p>
  <strong>Endereço:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @restaurant.phone %>
</p>

<%= link_to 'Lista de Restaurantes', restaurants_path %>
